<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d9c3d9ca-143d-4992-82a0-707a7422e042/resourcegroups/SmartAppResourceGroup/providers/Microsoft.Web/sites/SmartHomeApplicationService</ResourceId>
    <ResourceGroup>SmartAppResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://smarthomeapplicationservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>smarthomeapplicationservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartHomeApplicationService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>hegedusadam</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SmartHomeApplicationDatabaseChanges" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartHomeApplicationService.Models.SmartHomeApplicationDatabaseChanges, SmartHomeApplicationService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartHomeApplicationDatabaseLamps" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartHomeApplicationService.Models.SmartHomeApplicationDatabaseLamps, SmartHomeApplicationService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartHomeApplicationDatabaseUserTable" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartHomeApplicationService.Models.SmartHomeApplicationDatabaseUserTable, SmartHomeApplicationService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartHomeApplicationDatabaseChanges-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartHomeApplicationDatabaseLamps-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartHomeApplicationDatabaseUserTable-Web.config Connection String" />
  </ItemGroup>
</Project>