<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d9c3d9ca-143d-4992-82a0-707a7422e042/resourcegroups/SmartAppResourceGroup/providers/Microsoft.Web/sites/SmartHomeApplicationService</ResourceId>
    <ResourceGroup>SmartAppResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://smarthomeapplicationservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>smarthomeapplicationservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartHomeApplicationService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>hegedusadam</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SmartHomeApplicationDatabaseUserTable" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:smarthomeapplication.database.windows.net,1433;Initial Catalog=SmartHomeApplicationDatabase;Persist Security Info=True;User ID=hegedusadam;Password=cC08150019960207;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartHomeApplicationDatabaseUserTable_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.User.csdl|res://*/Models.User.ssdl|res://*/Models.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:smarthomeapplication.database.windows.net,1433;initial catalog=SmartHomeApplicationDatabase;persist security info=True;user id=hegedusadam;password=cC08150019960207;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SmartHomeApplicationDatabaseChanges" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:smarthomeapplication.database.windows.net,1433;Initial Catalog=SmartHomeApplicationDatabase;Persist Security Info=True;User ID=hegedusadam;Password=cC08150019960207;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartHomeApplicationDatabaseChanges_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Change.csdl|res://*/Models.Change.ssdl|res://*/Models.Change.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:smarthomeapplication.database.windows.net,1433;initial catalog=SmartHomeApplicationDatabase;persist security info=True;user id=hegedusadam;password=cC08150019960207;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SmartHomeApplicationDatabaseLamps" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:smarthomeapplication.database.windows.net,1433;Initial Catalog=SmartHomeApplicationDatabase;Persist Security Info=True;User ID=hegedusadam;Password=cC08150019960207;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartHomeApplicationDatabaseLamps_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Lamp.csdl|res://*/Models.Lamp.ssdl|res://*/Models.Lamp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:smarthomeapplication.database.windows.net,1433;initial catalog=SmartHomeApplicationDatabase;persist security info=True;user id=hegedusadam;password=cC08150019960207;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SmartHomeApplicationDatabase" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartHomeApplicationService.Models.SmartHomeApplicationDatabase, SmartHomeApplicationService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartHomeApplicationDatabaseEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=smarthomeapplication.database.windows.net;Initial Catalog=SmartHomeApplicationDatabase;User ID=hegedusadam;Password=cC08150019960207;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartHomeApplicationDatabaseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.SmartHomeApplicationDataBase.csdl|res://*/Models.SmartHomeApplicationDataBase.ssdl|res://*/Models.SmartHomeApplicationDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smarthomeapplication.database.windows.net;initial catalog=SmartHomeApplicationDatabase;user id=hegedusadam;password=cC08150019960207;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartHomeApplicationDatabase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartHomeApplicationDatabaseChanges-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartHomeApplicationDatabaseEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartHomeApplicationDatabaseLamps-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartHomeApplicationDatabaseUserTable-Web.config Connection String" />
  </ItemGroup>
</Project>